Binaries/
DerivedDataCache/
Intermediate/
Saved/*
!Saved/UnrealBuildTool/
!Saved/UnrealBuildTool/BuildConfiguration.xml
Content/Developers/
Content/Collections/
__pycache__/
*.pyc
.vs/
*.sln
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
